<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{title}} | Snagajob Table Tennis Federation (S.T.T.F)</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">

        {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
        {{/each}}

    </head>

    <body>

        <div class="container">

            <div class="header">

                <ul class="nav nav-pills pull-right">
                    <li class="{% if req.url|replace('/', '') == ''    %}active{% endif %}"><a href="/">Home</a></li>
                    <li class="{% if req.url|replace('/', '') == 'log' %}active{% endif %}"><a href="/log">Record a Match</a></li>
                </ul>

                <h3 class="text-muted">S.T.T.F</h3>

            </div>

            {{{body}}}

        </div>

        {{{block 'scripts'}}}

    </body>

</html>
