<form class="form-playeradd" action="/player" role="form" method="post">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Add / Modify a player</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <h5 class="text-center">First</h5>
                </div>
                <div class="col-xs-6">
                    <h5 class="text-center">Last</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="first name" name="p_fn">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="last name" name="p_ln">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <h5 class="text-center">Email</h5>
                </div>
                <div class="col-xs-6">
                    <h5 class="text-center">Nickname</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="email" name="p_em">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="nickname" name="p_nn">
                </div>
            </div>
            <br />
        </div>
    </div>
    <button class="btn btn-lg btn-primary pull-right" type="submit">Save</button>
</form>
