<!-- signup page -->
<div class="page-header">
    <h1><%= __('Saved!') %></h1>
</div>

<p>
    <span class="player-title"><%= player.firstName %> <%= player.lastName %> <span class="nickname">("<%= player.nickname %>")</span> has been created!</span>
</p>
